.add-city-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  height: 87vh;
  width: 90vw;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  margin-top: 1rem;
}

.back-button {
  position: absolute;
  top: -1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 6;
  margin-top: 2rem;
}

.city-search-container {
  display: flex;
  flex-flow: column;
  flex: 1 1;
  position: relative;;
  overflow-y: auto;
}

.city-search-header {
  width: 100%;
  min-height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.city-search-header__title {
  color: #0c1066;
  margin: 4rem 0 3rem 0;
}

.input-container {
  position: relative;
  width: 80%;
  box-sizing: border-box;
}

.input-container__input {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
  font-size: 1rem;
  color: #131F69;
  text-transform: uppercase;
}

.input-container__input::placeholder {
  font-size: 1rem;
  color: #131F69;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.input-container__button {
  cursor: pointer;
  position: absolute;
  background-color: #31feae;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  right: 0;
  top: -0.35rem;
  outline: none;
  border: none;
  z-index: 5;
  box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
}

.input-container__button_icon {
  height: 50%;
  width: 50%;
}

.city-search-header__hr {
  word-spacing: 1rem;
  margin: 2rem;
}

.city-search-body {
  width: 100%;
  min-height: 60%;
  display: flex;
  justify-content: center;
}

.city-search-body__text {
  letter-spacing: 0.1rem;
}

.fav-city-container {
  flex: 1 1;
  position: relative;;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100%;
}

.fav-city-container__image {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0 1rem 1rem 0;
  height: 100%;
}

.fav-city-container__overlay {
  min-height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(43, 36, 77, 0.5);
  border-radius: 0 1rem 1rem 0;
}

.fav-city-header {
  position: relative;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
}

.fav-city-header__title {
  font-size: 1.85rem;
  letter-spacing: 0.1rem;
  word-break: break-all;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.fav-city-header__hr {
  width: 3rem;
}

.fav-city-header__date {
  margin-top: 0.5rem;
}

.fav-city-body {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  position: relative;
  color: white;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
}

.icon-container {
  width: 7rem;
  margin-bottom: 4rem;
}

.fav-city-info {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: -2rem;
}

.fav-city-info__temperature {
  font-size: 5rem;
  text-align: center;
}

.fav-city-name-container {
  margin-bottom: 2rem;
}

.fav-city-name-container__city-name {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.fav-city-name-container__country-name {
  margin-left: 0.75rem;
}

.fav-city-info__state {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

.fav-city-body__button {
  cursor: pointer;
  outline: none;
  margin-bottom: 2rem;
  border: 2px solid white;
  border-radius: 3rem;
  padding: 1.25rem 2rem;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.fav-city-body__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.fav-city-body__button_added {
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1919px) {
  .add-city-btn {
    height: 80%;
    width: 75%;
  }
}
